# Virtual Environment
venv/
env/

# Python
*.pyc
__pycache__/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
build/
dist/
*.egg-info/

# tmp files
tmp/

# cache files
player_stats_data/
